html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.first-image, .fourth-image, .second-image, .third-image {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.first-image {
  background-image: url(img/new.jpg);
  min-height: 500px;
}
.second-image {
  background-image: url(img/japan3.jpg);
  min-height: 500px;
}
.third-image {
  background-image: url(img/janpan2.jpg);
  min-height: 500px;
}
.fourth-image {
  background-image: url(img/pexels-pixabay-219692.jpg);
  min-height: 500px;
}

section {
  align-items: center;
  padding: 3rem 5rem;
}

.image {
  position: relative;
}
.image div{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  font: bolder;
  font-size: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
