body {
  width: 50%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 360px;
}

.inputField {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  font-size: 15px;
  padding-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.addTodo {
  padding: 13px 10px;
  border: 1px solid black;
  vertical-align: middle;
  cursor: pointer;
}

.to-dos {
  margin-top: 25px;
}