html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}

div {
  /* padding: 2rem; */
  margin: 0;
}

.header {
  padding: 0;
  height: 60px;
  background-color: rgb(234, 58, 58);
}

.footer {
  padding: 0;
  height: 100px;
  background-color: gray;
}

.colum {
  display: flex;
  padding: 0;
}
.nav, .side {
  width: 100px;
  height: 600px;
  background-color: rgb(222, 159, 42);
}
.cont {
  width:100%;
  background-color: beige;
}